<template>
  <div class="app">
    <div class="container">
      <b-card class="card rounded shadow border-0 mb-4">
        <div class="row">
          <div class="col-6 d-flex justify-content-start">
            <h1>Bank List</h1>
          </div>
          <div class="col-6 d-flex justify-content-end">
            <b-button @click="showCreateModalForm()">Create</b-button>
          </div>
        </div>
      </b-card>
      <div class="row">
        <div class="col-6" v-for="bank in banks" :key="bank._id" >
          <b-card class="card rounded shadow border-0 mb-4">
            <b-list-group>
              <b-list-group-item class="fs-3 d-flex justify-content-between">
                {{ bank.bankName }}
                <b-icon icon="bank" class="mt-1"></b-icon>
              </b-list-group-item>
              <b-list-group-item class="d-flex justify-content-between fs-5">
                Interest rate
                <div class="value">
                  {{ bank.interestRate }} %
                </div>
              </b-list-group-item>
              <b-list-group-item class="d-flex justify-content-between fs-5">
                Max Loan
                <div class="value">
                  {{ bank.maxLoan }} $
                </div>
              </b-list-group-item>
              <b-list-group-item class="d-flex justify-content-between fs-5">
                Minimum down payment
                <div class="value">
                  {{ bank.minPayment }} $
                </div>
              </b-list-group-item>
              <b-list-group-item class="d-flex justify-content-between fs-5">
                Loan term
                <div class="value">
                  {{ bank.loanTerm }} years
                </div>
              </b-list-group-item>
              <b-button-group class="mt-2">
                <b-button id="show-btn" @click="showEditModalForm(bank)" class="edit-button">Edit</b-button>
                <b-button @click="deleteBank(bank)" class="delete-button">Delete</b-button>
              </b-button-group>
            </b-list-group>
          </b-card>
        </div>
      </div>
      <b-modal id="edit-modal" hide-footer hide-header-close title="Edit form">
        <b-input-group size="sm">
          <label for="inputName" class="mb-1">Bank name</label>
          <div class="input-group mb-2">
            <b-form-input v-model="currentBank.bankName"></b-form-input>
          </div>
          <label for="inputRate" class="mb-1">Interest rate</label>
          <div class="input-group mb-2">
            <b-form-input v-model.number="currentBank.interestRate" type="number"></b-form-input>
            <span class="input-group-text">%</span>
            <input type="range" class="form-range" min="0" max="100" step="0.1" v-model="currentBank.interestRate">
          </div>
          <label for="inputMaxLoan" class="mb-1">Maximum loan</label>
          <div class="input-group mb-2">
            <b-form-input v-model.number="currentBank.maxLoan" type="number"></b-form-input>
            <span class="input-group-text">$</span>
          </div>
          <label for="inputMinPayment" class="mb-1">Minimum down payment</label>
          <div class="input-group mb-2">
            <b-form-input v-model.number="currentBank.minPayment" type="number"></b-form-input>
            <span class="input-group-text">$</span>
          </div>
          <label for="inputLoanTerm" class="mb-1">Loan term</label>
          <div class="input-group">
            <b-form-input v-model.number="currentBank.loanTerm" type="number"></b-form-input>
            <span class="input-group-text">years</span>
          </div>
        </b-input-group>
        <b-button class="mt-3" block @click="submitEditModalForm()">Edit</b-button>
        <div v-if="errors.length" class="card mt-4 bg-danger">
          <ul class="mt-3">
            <li v-for="error in errors">
              {{ error }}
            </li>
          </ul>
        </div>
      </b-modal>
      <b-modal id="create-modal" hide-footer hide-header-close title="Create form">
        <b-input-group size="sm">
          <label for="inputName" class="mb-1">Bank name</label>
          <div class="input-group mb-2">
            <b-form-input type="text" v-model="bank.bankName" ></b-form-input>
          </div>
          <label for="inputRate" class="mb-1">Interest rate</label>
          <div class="input-group mb-2">
            <b-form-input v-model.number="bank.interestRate" type="number"></b-form-input>
            <span class="input-group-text">%</span>
            <input type="range" class="form-range" min="0" max="100" step="0.1" v-model="bank.interestRate">
          </div>
          <label for="inputMaxLoan" class="mb-1">Maximum loan</label>
          <div class="input-group mb-2">
            <b-form-input v-model.number="bank.maxLoan" type="number"></b-form-input>
            <span class="input-group-text">$</span>
          </div>
          <label for="inputMinPayment" class="mb-1">Minimum down payment</label>
          <div class="input-group mb-2">
            <b-form-input v-model.number="bank.minPayment" type="number"></b-form-input>
            <span class="input-group-text">$</span>
          </div>
          <label for="inputLoanTerm" class="mb-1">Loan term</label>
          <div class="input-group">
            <b-form-input v-model.number="bank.loanTerm" type="number"></b-form-input>
            <span class="input-group-text">years</span>
          </div>
        </b-input-group>
        <b-button class="mt-3" block @click="submitCreateModalForm()">Create</b-button>
        <div v-if="errors.length" class="card mt-4 bg-danger">
          <ul class="mt-3">
            <li v-for="error in errors">
              {{ error }}
            </li>
          </ul>
        </div>
      </b-modal>
    </div>
  </div>
</template>

<script>
import BankDataService from "../services/BankDataService";

export default {
  name: "BankList",
  data() {
    return {
      banks: [],
      bank: {
        bankName: '',
        interestRate: null,
        maxLoan: null,
        minPayment: null,
        loanTerm: null,
      },
      currentBank: {},
      errors: [],
    }
  },
  methods: {
    retrieveBanks() {
      BankDataService.getAll()
        .then(response => {
          this.banks = response.data;
        })
        .catch(e => {
          console.log(e);
        });
    },
    createBank(data) {
      BankDataService.create(data)
        .catch(e => {
          console.log(e);
        });
    },
    updateBank() {
      BankDataService.update(this.currentBank._id, this.currentBank)
        .catch(e => {
          console.log(e);
        });
    },
    deleteBank(bank) {
      BankDataService.delete(bank._id)
        .catch(e => {
          console.log(e);
        });
    },
    getCurrentBank(bank) {
      this.currentBank = bank;
    },
    showEditModalForm(obj) {
      this.$bvModal.show('edit-modal');
      this.getCurrentBank(obj);
    },
    showCreateModalForm() {
      this.$bvModal.show('create-modal');
    },
    submitEditModalForm() {
      if(this.checkForm(this.currentBank)){
        this.$bvModal.hide('edit-modal');
        this.updateBank();
      }
    },
    submitCreateModalForm() {
      let data = {
        bankName: this.bank.bankName,
        interestRate: this.bank.interestRate,
        maxLoan: this.bank.maxLoan,
        minPayment: this.bank.minPayment,
        loanTerm: this.bank.loanTerm,
      };

      if(this.checkForm(data)){
        this.createBank(data);
        this.$bvModal.hide('create-modal');
      }
    },
    hasEmptyProperty(data) {
      return Object.keys(data).some(function (key) {
        return !data[key];
      });
    },
    checkForm(data) {
      this.errors = [];

      if(this.hasEmptyProperty(data)){
        this.errors.push('Fill all gaps');
        return false;
      }

      if(data.maxLoan < data.minPayment) {
        this.errors.push('Max loan cannot be smaller than down payment');
        return false;
      }

      if (!this.errors.length) {
        return true;
      }
    }
  },
  mounted() {
    this.retrieveBanks();
  },
  updated() {
    this.retrieveBanks();
  }
}
</script>

<style scoped>
.input-group-text {
  display: block;
  width: 65px;
}
</style>
